@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    min-width: 1280px !important;
    width: 1280px !important;
    overflow-x: auto !important;
    -webkit-text-size-adjust: 100% !important;
  }

  body {
    @apply font-sans bg-gray-50 text-gray-900;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }
}
